body{
    overflow-x: hidden;
    background:pink;
}
ul{
    display: flex;
    list-style: none;
    justify-content:flex-end;
    margin-top: -5%;
}
ul li{
    padding: 10px;
    
}
ul li:hover{
    background-color: coral;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    padding: 15px;
}
.contain{
    height: 100vh;
    margin: -350px;
}
.one{
    margin-top: 100px;
}
.websize {
    display: flex;
    justify-content: flex-end;
}
 ol  {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 40%;

}
ol a {
    font-size: 40px;
    color: rgb(11, 11, 144);
}


.show{
    display: flex;
}

/*  */

.all{
   
    display: flex;
   justify-content: space-evenly;
    border-radius: 10px;
    padding: 10px;
    line-height: 3;
}
.photo{
    width:30%;
   
}

.box-text{
    width:65%;
  
   padding: 10px;
    font-size: 20px;
    background: rgb(211, 209, 209);
    border-radius: 10px;
    line-height:1.9;
}
.box-text p{
    color:rgba(15, 74, 82, 0.753);
    font-family: sans-serif;
  
    
}
.one{
    text-align: center;
    font-size: 30px;

    color: darkblue;
}
button{
    text-align: center;
    margin-left: 450px;
   
    
}
.btn{
    width: 20%;
    height: 30px;
    margin-right: 20px;
}
.text1{
    background: rgba(7, 145, 187, 0.329);
    height: 455px;
    width: 600px;
    margin-left:53%;
    margin-top: -42%;
}
.text1,p{
    text-align: center;
   line-height: 1.5;
}
.text , h2 , p{
    display: flex;
    justify-content: center;
}
footer{
    background: rgb(88, 94, 105);
    padding: 30px;
    color:black;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20%;
}
@media(max-width:700px) {
    .all {
        flex-direction: column;
    }
    .box-text {
       width: 100%;
    }
    .photo{
        width: 100%;
    }
    
}
@media(max-width:700px) {
    .logo-container {
        flex-direction: column;
    }
    .text1 {
       width: 100%;
    }
    .photo{
        width: 100%;
    }
    
}




