body{
    overflow-x: hidden;
    background:pink;
}
ul{
    display: flex;
    list-style: none;
    justify-content:flex-end;
    margin-top: -5%;
}
ul li{
    padding: 10px;
    
}
ul li:hover{
    background-color: coral;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    padding: 15px;

}
.contain{
    height: 100vh;
    margin: -50px;
    margin-left:5% ;
    margin-top:10% ;
}
 .box-right {
    margin-top: 10%;
    margin-left: 55%;
    margin-top: -47%;
   
} 
.websize {
    display: flex;
    justify-content: flex-end;
}
 ol  {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 40%;

}
ol a {
    font-size: 40px;
    color: rgb(11, 11, 144);
}
footer{
    background: rgb(88, 94, 105);
    padding: 30px;
    color:black;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20%;
 }
 .box-text{
    margin-top: 10%;
    margin-left: 55%;
    margin-top: -47%;
 }