*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
    background: pink;
}
.container{
    width: 80%;
    float: right;
    height: 100vh;
    padding: 15px;
    background: rgb(3, 166, 172);
    clip-path: polygon(44% 0, 100% 0, 100% 100%, 57% 100%);
    margin-top: -100px;
}
.logo-container img{
    width:20%;
}
ul{
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
}
ul li{
    padding:6px;
}
.container ul li{
    margin-top: 2%;
}
 ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffff;
    margin: 20px;
    padding: 15px;
}
ul li:hover{
    background-color: coral;
}
.coloum{
    display: flex;
    margin-left: 40px;
}
.coloum > div{
    width: 400px;
    height: 300px;
    margin: 10px;
    background-color: #ffff;
    /* margin-top: -350px; */
    border-radius: 10px;
    padding: 10px;
    line-height: 1.5;
}
.websize {
    display: flex;
    justify-content: flex-end;
}
 ol {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 40%;

}
ol a {
    font-size: 40px;
    
}
.row{
    margin-top: 30%;
    margin-bottom: 30px;
}  
 .B , a{
    margin-left: 10%;
    width: 60px;

} 
.box-header> h4{
    font-size: 20px;
    margin-left: 200px;
    margin-top:10px;
}
.box-header> h2{
    margin-left: 500px;
    font-size: 20px;
}
footer{
    background: rgb(88, 94, 105);
    padding: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-top:15%;
 }
 .text:hover{
     background: rgba(19, 155, 218, 0.774);
 }
 @media(max-width:678px) {
    .coloum {
        flex-direction: column;
        
    }
   .text{
        height: auto;
        width: 100%;
    }
    
}


    
 

