*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: rgb(9, 146, 151);
    clip-path: polygon(0 0, 100% 0%, 100% 44%, 0 76%);
}
ul{
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
}
ul li{
    padding: 10px;
}
ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffff;
}
